.navbar {
  background-color: #1b396a;
  font-family: Roboto, 'Opens Sans', sans-serif;
}
.navbar .navbar-nav > li .navbar-item,
.navbar .navbar-brand {
  color: white;
}
.navbar .navbar-nav > li .navbar-item,
.navbar .navbar-nav .nav-link {
  color: white;
}
/* ESTILOS PARA FOOTER */
#footer {
  font-family: Roboto, 'Opens Sans', sans-serif;
}
